ui5/.vscode/launch.json
ui5/baixaitensdepreciados/.appGenInfo.json
ui5/baixaitensdepreciados/.gitignore
ui5/baixaitensdepreciados/package-lock.json
ui5/baixaitensdepreciados/package.json
ui5/baixaitensdepreciados/README.md
ui5/baixaitensdepreciados/ui5-deploy.yaml
ui5/baixaitensdepreciados/ui5-local.yaml
ui5/baixaitensdepreciados/ui5-mock.yaml
ui5/baixaitensdepreciados/ui5.yaml
ui5/baixaitensdepreciados/webapp/Component.js
ui5/baixaitensdepreciados/webapp/index.html
ui5/baixaitensdepreciados/webapp/manifest.json
ui5/baixaitensdepreciados/webapp/annotations/annotation.xml
ui5/baixaitensdepreciados/webapp/i18n/i18n.properties
ui5/baixaitensdepreciados/webapp/localService/mainService/metadata.xml
ui5/baixaitensdepreciados/webapp/localService/mainService/srvd_f4/sap/i_draftadministrativeuservh/0001/I_DraftAdministrativeDataType/CreatedByUser/metadata.xml
ui5/baixaitensdepreciados/webapp/localService/mainService/srvd_f4/sap/i_draftadministrativeuservh/0001/I_DraftAdministrativeDataType/LastChangedByUser/metadata.xml
ui5/baixaitensdepreciados/webapp/test/testsuite.qunit.html
ui5/baixaitensdepreciados/webapp/test/testsuite.qunit.js
ui5/baixaitensdepreciados/webapp/test/integration/FirstJourney.js
ui5/baixaitensdepreciados/webapp/test/integration/opaTests.qunit.html
ui5/baixaitensdepreciados/webapp/test/integration/opaTests.qunit.js
ui5/baixaitensdepreciados/webapp/test/integration/pages/AssetRetireList.js
ui5/baixaitensdepreciados/webapp/test/integration/pages/AssetRetireObjectPage.js
ui5/baixaitensdepreciados/webapp/test/integration/pages/JourneyRunner.js
.agents
.claude
.cursor
.github
ATIVO_FIXO_LISTAGEM_FINAL_COM_SALDO_CONT_DEZ-24.xlsx
CE_FIXEDASSETRETIREMENT_0001.json
CLAUDE.md
Depreciação_2024.png
Depreciação_2025.png
CE_FIXEDASSETRETIREMENT_0001.edmx
.agent/